.outer-box {
  border: 3px solid black;
  border-radius: 30px;
  height: 400px;
  width: 600px;
  color: white;
  margin: auto;
  margin-top: 120px;
  margin-left: 370px;
  background-color: white;
  padding: 0.75rem;
  /* border-radius: 0.5rem; */
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
}

/* .result{
  border: 2px solid black;
  border-radius: 20px;
  height: 50px;
  width: 520px;
  margin-top: 20px;
  margin-left: 40px;
  background-color: blue;
} */
button {
  background-color: blue;
  height: 30px;
  width: 520px;
  margin-left: 40px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;

}

.formwfull {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  padding: 1.5rem;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.3);
}

.swapping {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  border-radius: 0.375rem;
  background-color: #4285f4;
  margin-left: 40px;
  width: 100px;
  margin-top: 10px;
  color: #fff;
}